@charset "UTF-8";

:root {
    /* Cores */

    --white: white;
    --cor-1: #b3bbc1;
    --cor-2: #aab2b9;
    --cor-3: #818a91; 
    --cor-4: #888888;
    --cor-5: #48484c;
    --cor-6: #404044;
    --cor-7: #505cfd;
    --black: black;
    
    /* Font-Size */

    --size-1: 0.75rem; /*12px*/
    --size-2: 0.875rem; /*14px*/
    --size-3: 1rem; /*16px*/
    --size-4: 1.125rem; /*18px*/
    --size-5: 2.25rem; /*36px*/
    --size-6: 3rem; /*48px*/
    --size-7: 3.75rem; /*60px*/
}

.botao {
    padding: 14px 33px;

    font-size: var(--size-2);
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    text-transform: uppercase;
    text-align: center;

    line-height: 1.5;
    letter-spacing: 0.23em;

    border: 1px solid;
    border-radius: 30px;

    box-sizing: border-box;

    color: var(--white);
    background-color: var(--cor-7);
}

.texto {
    font-size: var(--size-3);
    font-family: sans-serif;
    font-weight: 300;

    line-height: 1.8rem;
    color: var(--cor-4);
}

.titulo {
    padding: 10px 0px;
    font-size: var(--size-5);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--cor-6);
    letter-spacing: 1px;
}

.titulo-espec {
    color: var(--cor-7);
}

.subtitulo {
    font-size: var(--size-3);
    font-family: sans-serif;
    font-weight: 400;

    text-transform: uppercase;
    letter-spacing: 1px;

    color: var(--cor-6);
}

.subtitulo-anterior {
    font-size: var(--size-2);
    font-family: sans-serif;
    font-weight: 300;

    text-transform: uppercase;
    letter-spacing: 3px;

    color: var(--cor-4);
}

.icones {
    font-size: var(--size-5);
    color: var(--cor-7);
    vertical-align: middle;
}

.monthly {
    width: 120px;

    box-sizing: border-box;

    font-size: var(--size-2);
    font-family: sans-serif;
    font-weight: 100;

    text-transform: uppercase;
    text-align: center;

    letter-spacing: 1px;
    line-height: 2.5;

    border-radius: 30px;

    color: var(--white);
    background: var(--cor-5);
}

.uppercase {
    text-transform: uppercase;
}

.card {
    width: 370px;
    height: 505px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1px;
    background: var(--cor-6);
}

.card > div {
    width: 95%;
    height: 95.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > div > div:first-child {
    width: 250px;

    padding-bottom: 35px;
    margin-top: 45px;

    text-align: center;

    border-bottom: 1px solid var(--cor-5);
}

.card > div > div h3 {
    font-size: var(--size-3);
    font-family: sans-serif;
    font-weight: lighter;

    text-transform: uppercase;
    letter-spacing: 1px;

    margin-bottom: 20px;

    color: var(--white);
}

.card > div > div h4 {
    font-size: var(--size-2);
    font-weight: lighter;
    font-family: sans-serif;

    line-height: .8rem;
    letter-spacing: .5px;

    color: var(--white);
}

.card > div > p{
    margin-top: 15px;
    margin-bottom: 10px;

    font-size: var(--size-7);
    font-weight: bolder;
    font-family: sans-serif;

    color: white;
}

.card > div > p > sup {
    font-size: var(--size-5);
}

.card-info {
    margin-top: 30px;
    margin-left: 5px;
}

.card-info > p {
    line-height: 2rem;

    font-size: var(--size-3);
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;

    letter-spacing: 1px;

    color: var(--white);
}

.card-botao {
    margin-top: 30px;
    border: none;
}
